body {
    margin: 50px auto;
    max-width: 500px;
    padding: 0 20px;

    background-color: #223;
    color: #ddf;

    font-family: "Courier New", Courier, monospace;
    font-size: 24px;
    font-weight: light;
    line-height: 1.2;
}

.link {
    font-weight: bold;
    text-decoration: none;
    text-align: center;

    background-color: #ddf;
    color: #223;

    border-radius: 10px;
    cursor: pointer;

    margin: 15px auto;
    max-width: 500px;
    padding: 15px;
    display: block;
}

.patreon:hover {
    background-color: rgb(255, 53, 71);
    color: rgb(245, 245, 245);
}

.twitter:hover {
    background-color: rgb(0, 147, 234);
    color: rgb(245, 245, 245);
}

.furaffinity:hover {
    background-color: rgb(255, 163, 62);
    color: rgb(245, 245, 245);
}

.reddit:hover {
    background-color: rgb(255, 53, 22);
    color: rgb(245, 245, 245);
}

.e621:hover {
    background-color: rgb(0, 42, 75);
    color: rgb(255, 175, 58);
}
